body:not(.is-mobile) {
  --radius-window: 8px;

  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    background-color: var(--background-primary);
  }

  // Ribbon
  --ribbon-background: transparent;
  --ribbon-background-collapsed: var(--ribbon-background);

  // Editor panel: Floating
  & .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    height: 32px;
    margin: auto 0;
  }

  // Status bar
  

  // Hover sidedock
  
}








// Cupertino specific

